{#
/**
 * @file
 * Default theme implementation for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @ingroup templates
 */
#}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.removeClass('clearfix')|without('role', 'aria-labelledby') }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('sr-only') %}
  {% endif %}
  <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
  {% block content %}
    {# <svg class="line-top" height="15" viewbox="0,0 1000,20"> #}
    <svg class="line-top" height="15">
      <line
        class="line-dash"
        x1="0"
        y1="15"
        x2="1000"
        y2="15"
        style="stroke: orange; stroke-width:2; stroke-linecap:round; stroke-dasharray: 141,2000; stroke-dashoffset: -35;"
      />
    </svg>
    {{ content }}
    <svg class="line-bottom" width="750" height="30" viewbox="0,0 1000,40">
      <polygon class="lb" points="35,53 115,53 125,43 135,53 215,53" />
      <polygon class="lb" points="285,53 365,53 375,43 385,53 465,53" />
      <polygon class="lb" points="535,53 615,53 625,43 635,53 715,53" />
      <polygon class="lb" points="785,53 865,53 875,43 885,53 965,53" />
      <polygon class="lb" points="1035,53 1115,53 1125,43 1135,53 1215,53" />
  </svg>
  {% endblock %}
</nav>
